h2 {
	color: #332222;
	font-family: "Bauhaus 93", sans-serif;
}

h1 {
	color: darkred;
	background-color: antiquewhite;
	border-bottom: 200px;
	border-bottom-color: black;
}

p {
	'color: royalblue;
	font-size: large;
}
body {
	background-color: bisque;
}